*,
*::before,
*::after {
	box-sizing: inherit;
}

::selection {
	background: var(--color-primary);
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, .5);
}

@media (prefers-reduced-motion: "no-preference") {
	:focus {
		transition: outline-offset .25s ease;
		outline-offset: 5px;
	}
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	color: var(--color-black);
	background: var(--color-white);
	font: 300 var(--font-size-root)/1.5 var(--font-stack-common);
	scrollbar-gutter: stable;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color var(--transition-regular);

	&:hover {
		color: var(--color-primary);
	}
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	font-family: var(--font-stack-heading);
}

h1,
.h1 {
	&::before {
		content: "";
		display: block;
		height: 4px;
		width: 42px;
		background: var(--color-primary);
		margin-bottom: .25em;
	}
}


button,
.btn {
	font-weight: 400;
	font-size: 125%;
	cursor: pointer;
	font-family: var(--font-stack-heading);
}

[disabled] {
	cursor: not-allowed;
}

.bg-dark {
	background-color: var(--color-black) !important;
}
