@use "variables.scss";

@use "fonts/bebas-neue.scss";
@use "fonts/montserrat.scss";

body,
p,
ul,
ol {
	font-family: var(--font-stack-common);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
	font-family: var(--font-stack-heading);
}
