@use "variables.scss";
@use "fonts/bebas-neue.scss";
@use "fonts/montserrat.scss";
@use "components/buttons.scss";

.login {
	--color-black-login: #2b2a2a;
	background: #2b2b32;
	color: var(--color-white);

	#login_error,
	.message,
	.success {
		background: var(--color-black-login);
		border-color: var(--color-primary);
	}

	a {
		color: var(--color-primary);

		&:hover {
			color: var(--color-primary-alt);
		}
	}

	#backtoblog a,
	#backlog a,
	#nav a {
		color: #e2e2e2;

		&:hover {
			color: var(--color-primary-alt);
		}
	}

	h1 a {
		background-image: url('../images/htr-logo-white.svg');
		background-size: auto;
		height: 120px;
	}

	.wp-core-ui select {
		filter: invert(0.85);
	}

	.language-switcher {
		display: none;
	}

	.admin-email-confirm-form {
		background: var(--color-black-login);
		border-color: #555555;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
	}

	h1.admin-email__heading {
		color: var(--color-white);
	}

	.admin-email__actions {
		&-primary {
			display: inline-flex;
			gap: 10px;
		}

		.button {
			@extend .btn;

			&:first-child {
				@extend .btn-secondary;
			}

			&:hover,
			&:focus {
				color: var(--color-white);
			}
		}

		.button-primary {
			@extend .btn-primary;
		}
	}

	#loginform {
		background: var(--color-black-login);
		border-color: #555555;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .4);

		input[type="text"],
		input[type="password"],
		input:-webkit-autofill {
			border-radius: 0;
			background: transparent;
			color: var(--color-white);

			&:focus {
				border-color: var(--color-primary);
				box-shadow: 0 0 0 1px var(--color-primary);
			}
		}

		.wp-pwd button {
			--color-eye: var(--color-primary);
			color: var(--color-eye);

			&:hover {
				--color-eye: var(--color-primary-alt);
			}
		}

		input[type=checkbox],
		input[type=radio] {
			background: transparent;

			&:checked::before {
				filter: hue-rotate(190deg);
			}

			&:focus {
				border-color: var(--color-primary);
			}
		}

		.forgetmenot {
			float: none;
		}

		#wp-submit {
			--button-bg: var(--color-primary);
			--button-color: var(--color-black);
			--button-border: var(--color-primary);
			--button-active: 0 0 0 .25em rgba(0, 0, 0, .15);
			--button-active-focus: 0 0 0 .25em rgba(0, 0, 0, .25);
			--button-bg-active: var(--button-bg);
			--button-bg-outline-active: var(--button-bg);
			--button-color-active: var(--button-color);
			--button-color-outline: var(--button-color);
			--button-color-outline-active: var(--button-color);
			--button-border-active: var(--button-border);
			--button-shadow: 0 0 0 .25em rgba(0, 0, 0, .25);
			--button-shadow-focus: var(--button-shadow);
			font-weight: 400;
			font-size: 1.25rem;
			cursor: pointer;
			font-family: var(--font-stack-heading);
			margin-top: 10px;
			float: none;
			width: 100%;
			display: block;
			text-transform: uppercase;
			border-radius: 0;
			text-decoration: none;
			line-height: 1.25em;
			padding: .65em 1.45em;
			background-color: var(--button-bg, transparent);
			border: 1px solid var(--button-border);
			color: var(--button-color);
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: transparent;
				border-color: var(--button-border-active);
				color: var(--color-white);
			}
		}
	}
}
