// CSS Custom Properties
:root {
	// colors
	--color-black: #000;
	--color-white: #fff;
	--color-primary: red;

	// font stacks
	--font-stack-common: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-stack-heading: "Bebas Neue", var(--font-stack-common);

	// font sizes
	--font-size-root: 16px;

	// Transitions
	--transition-regular: .25s ease-in-out;
}
