.products-page {
	display: grid;
	gap: 2rem 1rem;
	grid-template-columns: 240px auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"Sidebar List"
		"Sidebar List";

	@media (max-width: 992px) {
		grid-template-areas:
			"Sidebar Sidebar"
			"List List";
	}
}

.products-grid {
	display: grid;
	gap: 2rem 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-area: List;

	.product {
		display: flex;
		flex-direction: column;

		.btn-primary {
			margin-top: auto;
			display: block;
		}
	}
}

.products-sidebar {
	grid-area: Sidebar;
}

.product-link {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin-bottom: .5rem;
	flex: 1;

	&:hover {
		color: inherit;
	}

	.woocommerce-loop-product__title {
		font-size: 1.25rem;
		margin: .5rem 0;
	}

	.price {
		margin-top: auto;
	}
}

.product-picture {
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
