.products-page {
	display: grid;
	gap: 2rem 1rem;
	align-items: start;
	grid-template-columns: 240px auto;
	grid-template-rows: auto;
	grid-template-areas:
	"Sidebar List";

	@media (max-width: 992px) {
		grid-template-rows: auto auto;
		grid-template-areas:
			"Sidebar Sidebar"
			"List List";
	}
}

.products-grid {
	--repeat: 3;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(var(--repeat, auto-fit), minmax(240px, 1fr));
	grid-area: List;

	@media (max-width: 1400px) {
		--repeat: 3;
	}

	@media (max-width: 1200px) {
		--repeat: auto-fit;
	}

	.product {
		display: flex;
		flex-direction: column;
		transition: .25s ease-in-out !important;

		.btn-primary {
			margin-top: auto;
			display: block;
		}

		&:hover,
		&:focus {
			transform: scale(1.025) !important;
			box-shadow: 0 0 0 .25em rgba(0, 0, 0, .15) !important;
		}
	}

	.products-alert {
		grid-column: span var(--repeat, 1);
	}
}

.products-sidebar {
	grid-area: Sidebar;
}

.product-link {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex: 1;

	&:hover {
		color: inherit;
	}

	.woocommerce-loop-product__title {
		font-size: 1.25rem;
		margin: .5rem 0;
	}

	.price {
		margin-top: auto;
	}
}

.product-picture {
	overflow: hidden;
	// margin-bottom: 0.5rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.products-pagination {
	margin-top: 2rem;
	margin-left: calc(240px + 1rem);

	@media (max-width: 992px) {
		margin-left: 0;
	}
}
