@use '../components/forms.scss';

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font: 700 2.5rem/1.25 var(--font-stack-heading);
	color: inherit;
}

.page-text {
	h2, h3, h4, h5 {
		margin-top: 1.5em;
	}
}

.single-product {
	.product {
		display: grid;
		gap: 1rem;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"Picture Summary"
			"Description Description"
			"Process Process"
			"Related Related";

		@media (max-width: 767px) {
			grid-template-columns: auto;
			grid-template-areas:
				"Picture"
				"Summary"
				"Description"
				"Process"
				"Related"
		}
	}

	.woocommerce-product-gallery {
		grid-area: Picture;
	}

	.summary {
		grid-area: Summary;
	}

	.woocommerce-tabs {
		grid-area: Description;
	}

	.related.products {
		grid-area: Related;
	}

	.product-description {
		grid-area: Process;
	}

	.yith_magnifier_zoom img,
	.woocommerce-product-gallery .attachment-shop_single {
		width: 100%;
	}

	.woocommerce-variation-add-to-cart,
	.single-product-cart {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem 4px;

		.qty {
			height: 100%;
			border: 1px solid var(--color-secondary-alt);

			&:focus {
				outline: none;
				box-shadow: 0 0 0 .25em rgba(0, 0, 0, .25);
			}
		}
	}

	.woocommerce-product-gallery__wrapper {
		margin-bottom: 0;
	}

	.product-meta {
		& > * {
			display: block;
		}
	}

	.woocommerce-product-gallery__image {
		display: block;
	}
}

.product-tags {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	align-items: center;
	justify-content: flex-start;
}

.product-tag {
	display: inline-flex;
	gap: .45em;
	align-items: center;
	border-radius: 1rem 0 0 1rem;
	padding: .15rem .4rem;
	font-size: .85rem;
	line-height: 1.15;
	background: var(--color-gray-light);
	color: var(--color-text);
	border: 1px solid rgba(0, 0, 0, .05);

	i, svg {
		color: rgba(0, 0, 0, .45);
		font-size: .8em;
	}
}

.thwepo-extra-options {
	display: block;

	tbody,
	tr,
	td {
		display: block;
	}

	.label-tag {
		display: inline-block !important;
	}

	select {
		@extend .form-select;
	}
}

.stock-meter {
	height: 5px;
	width: 100%;
	max-width: 220px;
	background-color: #e7e8de;
	position: relative;
	overflow: hidden;
}

.stock-meter-value {
	position: absolute;
	inset: 0;
	background: var(--color-primary);
	transform-origin: left 0;
	transition: .25s ease-in-out;
}

.stock-number {
	font-size: .85rem;
}

.in-stock .stock-number {
	color: var(--bs-success);
}

.out-of-stock .stock-number {
	color: var(--bs-red);
}

.product-variation {
	max-width: 300px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
	align-items: center;

	.form-label {
		margin-bottom: 0;
		font-weight: 400;
	}
}

.reset_variations {
	all: unset;
	transition: .25s ease-in-out;
	padding: .25em .5em;

	&:hover,
	&:focus {
		color: var(--color-primary);
	}
}

.pp_woocommerce .pp_content_container {
	background-color: transparent !important;
	box-shadow: none !important;
}

.pp_expand {
	display: none;
}

.pp_overlay {
	opacity: .9 !important;
}
