.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font: 700 2.5rem/1.25 var(--font-stack-heading);
	color: inherit;
}

.page-text {
	h2, h3, h4, h5 {
		margin-top: 1.5em;
	}
}

.single-product {
	.product {
		display: grid;
		gap: 1rem;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"Picture Summary"
			"Description Description"
			"Related Related";
	}

	.woocommerce-product-gallery {
		grid-area: Picture;
	}

	.summary {
		grid-area: Summary;
	}

	.woocommerce-tabs {
		grid-area: Description;
	}

	.related.products {
		grid-area: Related;
	}

	.single-product-cart {
		display: flex;
		gap: 4px;

		.qty {
			height: 100%;
		}
	}
}
