@use '../components/forms.scss';

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font: 700 2.5rem/1.25 var(--font-stack-heading);
	color: inherit;
}

.page-text {
	h2, h3, h4, h5 {
		margin-top: 1.5em;
	}
}

.single-product {
	.product {
		display: grid;
		gap: 1rem;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"Picture Summary"
			"Description Description"
			"Related Related";

		@media (max-width: 767px) {
			grid-template-columns: auto;
			grid-template-areas:
				"Picture"
				"Summary"
				"Description"
				"Related"
		}
	}

	.woocommerce-product-gallery {
		grid-area: Picture;
	}

	.summary {
		grid-area: Summary;
	}

	.woocommerce-tabs {
		grid-area: Description;
	}

	.related.products {
		grid-area: Related;
	}

	.single-product-cart {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem 4px;

		.qty {
			height: 100%;
		}
	}

	.woocommerce-product-gallery__wrapper {
		margin-bottom: 0;
	}

	.product_meta {
		& > * {
			display: block;
		}
	}

	.woocommerce-product-gallery__image {
		display: block;
	}
}

.thwepo-extra-options {
	display: block;

	tbody,
	tr,
	td {
		display: block;
	}

	.label-tag {
		display: inline-block !important;
	}

	select {
		@extend .form-select;
	}
}

.stock-meter {
	height: 5px;
	width: 100%;
	max-width: 220px;
	background-color: #e7e8de;
	position: relative;
}

.stock-meter-value {
	position: absolute;
	inset: 0;
	background: var(--color-primary);
	transform-origin: left 0;
}

.stock-number {
	font-size: .85rem;
}

.in-stock .stock-number {
	color: var(--bs-success);
}

.out-of-stock .stock-number {
	color: var(--bs-red);
}
