.form-control,
.form-select,
.form-check-input[type=checkbox] {
	border-radius: 0;
	font-size: 1rem;
}

.form-check-input {
	margin-top: .2em;
	margin-right: .5em;
}

.form-check-label {
	user-select: none;
	cursor: pointer;
}

textarea.form-control {
	min-height: calc(12.5em + .75rem + 2px);
}

/** woocommerce stuff */
.input-text {
	@extend .form-control;
}
