.video {
	width: 100%;
	border-bottom: 4px solid var(--color-primary);
	border: none;
	@extend .ratio-16-9;

	&.ratio-16-9 {
		aspect-ratio: 16/9;
	}
	&.ratio-4-3 {
		aspect-ratio: 4/3;
	}
	&.ratio-1-1 {
		aspect-ratio: 1/1;
	}
	&.ratio-3-2 {
		aspect-ratio: 3/2;
	}
	&.ratio-21-9 {
		aspect-ratio: 21/9;
	}
}
