.latest-products,
.best-products {
	padding: 4rem 0;
	position: relative;

	.product {
		display: flex;
		flex-direction: column;
		transition: .25s ease-in-out !important;

		&:hover,
		&:focus {
			transform: scale(1.025) !important;
			box-shadow: 0 0 0 .25em rgba(0, 0, 0, .15) !important;
		}
	}
}

.best-products {
	padding-top: 0;
}

.products-list {
	--products-count: 2;
	display: grid;
	grid-template-columns: repeat(var(--products-count), 1fr);
	gap: 1rem;

	.product {
		overflow: hidden;
		display: block;
		border-radius: 4px;
		box-shadow: 0 1px 1px HSL(0deg 0% 0% / .075),
		0 2px 2px HSL(0deg 0% 0% / .075),
		0 4px 4px HSL(0deg 0% 0% / .05),
		0 8px 8px HSL(0deg 0% 0% / 0),
		0 16px 16px HSL(0deg 0% 0% / 0);
		transition: .5s ease-in-out;
		cursor: pointer;

		&:hover {
			box-shadow: 0 1px 1px HSL(0deg 0% 0% / .075),
			0 2px 2px HSL(0deg 0% 0% / .075),
			0 4px 4px HSL(0deg 0% 0% / .075),
			0 8px 8px HSL(0deg 0% 0% / .075),
			0 16px 16px HSL(0deg 0% 0% / .075);
			transform: translateY(-6px);
			transition: .25s ease-in-out;

			.product-image img {
				transform: scale(1.05);
				transition: .25s ease-in-out;
			}
		}
	}

	.product-image {
		background: #ccc;
		height: 240px;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			display: block;
			transition: .5s ease-in-out;
		}
	}

	.product-content {
		padding: .5rem 1rem;
	}

	.product-title {
		font: 400 1.625rem/1.5 var(--font-stack-heading);
	}
}

.latest-divider-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 5;

	@media (max-width: 767px) {
		display: none;
	}

	svg {
		position: relative;
		display: block;
		width: calc(111% + 1.3px);
		height: 24px;
	}

	.shape-fill {
		fill: var(--color-primary);
	}
}

.latest-divider-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	svg {
		position: relative;
		display: block;
		width: calc(125% + 1.3px);
		height: 36px;
	}

	.shape-fill {
		fill: var(--color-white);
	}
}
