.map {
	position: relative;
}

#htr-destinations {
	aspect-ratio: 16/9;
}

.maplibregl-map {
	@media (max-width: 767px) {
		height: 0;
		visibility: hidden;
	}
}

.map-divider-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 5;

	@media (max-width: 767px) {
		display: none;
	}

	svg {
		position: relative;
		display: block;
		width: calc(111% + 1.3px);
		height: 24px;
	}

	.shape-fill {
		fill: var(--color-primary);
	}
}

.map-divider-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);

	svg {
		position: relative;
		display: block;
		width: calc(125% + 1.3px);
		height: 36px;
	}

	.shape-fill {
		fill: var(--color-white);
	}
}

.htr-marker {
	background: url(../images/map/marker.svg) no-repeat 50% top / contain;
	width: 35px;
	aspect-ratio: 1/2.5;
	transform: translateY(-100%);
}
