@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebas-neue/BebasNeue.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebas-neue/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebas-neue/BebasNeueLight.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeueLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../fonts/bebas-neue/BebasNeueBook.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeueBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebas-neue/BebasNeue-Thin.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeue-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebas-neue/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/bebas-neue/BebasNeueBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
